<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LTFinanças - Cadastro</title>
    <link type="text/css" href="static/style.css" rel="stylesheet">
</head>
<body>
     <h1>Cadastro de usuario</h1>

    <form method="POST" action="/cadastrausuario">
        <label for="nome">Nome:</label><br>
        <input type="text" name="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" required><br>
        <label for="senha">Senha:</label><br>
        <input type="password" name="senha" required><br><br>
        <input type="submit" value="Submit">
    </form>
        <a href="/login"> Fazer Login></a>


</body>
</html>