<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LTFinanças - Página Principal</title>
    <link type="text/css" href="static/style.css" rel="stylesheet">

</head>
<body>

 <div id="barra-lateral">
     <div id="conteudo-lateral">
     <a href="index.html" >LOGIN</a> <br>
     <a href="index.html" >GASTOS</a> <br>
     <a href="index.html" >RELATÓRIOS</a> <br>
     </div>
 </div>
 <div id="header">
    <div id="conteudo-header">
     <a href="index.html" >Perfil</a> ||
     <a href="index.html" >Exportar Relatório</a> ||
     <a href="index.html" >Ajuda</a>
    </div>
 </div>
</body>
</html>