<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LTFinanças - Página Principal</title>
    <link type="text/css" href="static/style.css" rel="stylesheet">

</head>
<body>

<h1>Lançamento</h1>
<form method="POST" action="/submitlancamento">
    <label for="descricao">Descrição:</label><br>
    <input type="text" name="descricao" required><br><br>
    <select name="categoria" required>
        <option value="" selected disabled hidden="hidden">Selecione uma categoria</option>
        <option value="moradia">Moradia</option>
        <option value="alimentacao">Alimentação</option>
        <option value="transporte">Transporte</option>
        <option value="lazer">Lazer</option>
        <option value="saude">Saúde</option>
        <option value="educacao">Educação</option>
        <option value="vestuario">Vestuario</option>
        <option value="conta">Contas</option>
        <option value="divida">Dividas</option>
        <option value="pet">Pets</option>
        <option value="imprevisto">Imprevistos</option>
        <option value="transporte">Outros</option>
    </select> <br>
    <label for="valor">Valor:</label><br>
    <input type="number" name="valor" required><br>
    <label for="data">Data:</label><br>
    <input type="date" name="data" required><br><br>
    <input type="submit" value="Submit">
</form>
<br>
<hr>

<h1>Pesquisa de gastos e relatório</h1>
<form method="POST" action="/pesquisa">

    <div>
        <label for="data_inicio">Data Início:</label>
        <input type="date" name="data_inicio" required>

        <label for="data_fim">Data Fim:</label>
        <input type="date" name="data_fim" required>

    </div>


    <label for="valor_minimo">Valor Mínimo:</label>
    <input type="number" name="valor_minimo" required>

    <label for="valor_maximo">Valor Máximo:</label>
    <input type="number" name="valor_maximo" required>


    <select name="pesquisa_categoria" required>
        <option value="" selected disabled hidden="hidden">Selecione uma categoria</option>
        <option value="moradia">Moradia</option>
        <option value="alimentacao">Alimentação</option>
        <option value="transporte">Transporte</option>
        <option value="lazer">Lazer</option>
        <option value="saude">Saúde</option>
        <option value="educacao">Educação</option>
        <option value="vestuario">Vestuario</option>
        <option value="conta">Contas</option>
        <option value="divida">Dividas</option>
        <option value="pet">Pets</option>
        <option value="imprevisto">Imprevistos</option>
        <option value="outros">Outros</option>
    </select>
    <input type="submit" value="Submit">

</form>


<br>
<hr>


</body>
</html>